/.metadata/
output/generated/
output/incoming/
/src/test/resources/config-local.properties

########################################
# Maven
########################################
target/

########################################
# Test Output & Logs
########################################
logs/
test-output/
*.log

########################################
# Eclipse IDE
########################################
.project
.classpath
.settings/

########################################
# IntelliJ IDEA (optional safety)
########################################
.idea/
*.iml
*.ipr
*.iws

########################################
# OS Files
########################################
.DS_Store
Thumbs.db

########################################
# Temporary / Backup files
########################################
*.tmp
*.bak
*.swp
